  <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Weed.tw</h1>
        <p>Weed.tw is a tool to weed in the people that you follow on twitter.</p>
        <p><a href="/login" class="btn btn-primary btn-large">Login with your Twitter account &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Unfollow en masse</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Follow en mase</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

       </div>
        <div class="span4">
          <h2>We store nothing</h2>
          <p>We do not have a database and will not store any personal information. All data needed for the authentication is stored in your web browser and will be removed when you restart your web browser. </p>

        </div>
      </div>
