<h1>Edit friend</h1>

<form id="edit-friend" name="friend">
  <div class="field">
    <label for="id"> id:</label>
    <input type="text" name="id" id="id" value="<%= id %>" >
  </div>

  <div class="field">
    <label for="screen_name"> screen_name:</label>
    <input type="text" name="screen_name" id="screen_name" value="<%= screen_name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Friend" />
  </div>

</form>

<a href="#/index">Back</a>