<tr><td>
<label class="checkbox">
  <h4><input type="checkbox" class="inline" name="unfollow" <% if(following){ %>disabled<% } %> value="<%= id %>">
 <%= name %> <small>@<%= screen_name %></small> <% if(following){ %><span class="label label-info">following</span><% } %></h4>
</label>

</td></tr>


