<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Weed.tw</a>
      <form class="navbar-search pull-left" action="/search" method="GET" >
	    <input type="text" name="q" id="q" class="search-query input-large" value="<%= @q -%>" placeholder="Search for new friends to follow">
      </form>

      <div class="nav-collapse">
	  <ul class="nav pull-right">
		<li class="dropdown" id="usermenu">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#usermenu">
		    Logged in as <%= @twitter_user["screen_name"] %>
		    <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="https://twitter.com/#!/logout">Log out of Twitter</a></li>
		    <li> <a href="/logout">Log out of Weed.tw</a></li>
		  </ul>
	    </li>
	  </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="row">
  <div class="span10 offset1">
    <h2>Bulk unfollow</h2>
	<div id="friends"></div>
  </div>
</div>





<script type="text/javascript">
  $(function() {
    window.router = new Weed.Routers.FriendsRouter({friends: <%= @friends.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>