

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   <title>Weed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A tool to mass unfollo people on Twitter.">
    <meta name="author" content="Martin Reistadbakk">

    <!-- Le styles -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>

  <%= csrf_meta_tags %>
 <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
	<div class="container">
	  <%= yield %>
	</div> <!-- /container -->
  </body>
</html>